#common --enable_bzlmod
build --incompatible_enable_cc_toolchain_resolution

# # Required to use the C/C++ toolchain managed by gcc-toolchain
# build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
# build --incompatible_enable_cc_toolchain_resolution

# # optional, but preferred for performance as per https://github.com/aspect-build/gcc-toolchain/issues/85
# build --experimental_reuse_sandbox_directories

#build --extra_toolchains @zig_sdk//toolchain:darwin_arm64

build --experimental_use_sandboxfs

# toolchains
# build --extra_toolchains=//python:py3_toolchain